body {
	background-color: #252830;
	font-family: ProximaNova,Arial,Sans-serif;
	font-weight: 400; 
	font-size: 14px;
	line-height: 1.5;
	color: #757575;
}

.titre {
	text-align: center
}

.jumbotron {
  padding-top: 25px;
  padding-bottom: 5px;
}

#sombre{
	background-image: url(phonecall.jpg);
	background-repeat: no-repeat;
	background-size: cover;

}

#sombre2{
	background-image: url(phone.jpg);
	background-repeat: no-repeat;
	background-size: cover;

}

#clair{
	background-image: url(music_large.png);
	background-repeat: no-repeat;
	background-size: cover;
}

#object1{
	color:white;
	background-image: url(image1.jpg);
	background-size: cover;
}

#title{
	color: black;
	font-size: 2em;
	max-width: 80%;
	padding-top: 5rem;
	margin-left: auto;
	margin-right: auto;
	font-weight: 900;
	line-height: 1.15;
	margin-bottom: .9375em;
	text-align: center;
}

#titlemilieu{
	float: left;
	font-size: 2em;
	max-width: 80%;
	margin-left: 3em;
	font-weight: 900;
	padding-top: 19rem;
	line-height: 1.15; 
	margin-bottom: .9375em;
	text-align: center;
	color: white;	
}

.fas{
	size: 1000%;
	color: white;
}

#style{
	height:300px;
}

#carousel {
	margin-bottom: 30px;
}

.col-md-4 {

    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    -max-width: 33.333333%;

}

ul, ol {

    list-style: none;

}

h1, h2, h3, h4, h5, h6 {

    margin-top: 0;
    margin-bottom: .5rem;

}

élément {

}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {

    color: #ffffff;

}
a {

    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    webkit-text-decoration-skip: objects;

}
*, ::after, ::before {

    box-sizing: border-box;

}
ul, ol {

    list-style: none;

}
.context-dark, .bg-gray-dark, .bg-primary {

    color: rgba(255, 255, 255, 0.8);

}

body {

    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;

}
:root {

    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;

}
html {

    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;

}





