body {
	background-color: #252830;
	font-family: ProximaNova,Arial,Sans-serif;
 
font-weight: 400;
 
font-size: 14px;
 
line-height: 1.5;
 
color: #757575;
}

.titre {
	text-align: center
}

.jumbotron {
  padding-top: 25px;
  padding-bottom: 5px;
}

#sombre{
	background-image: url(phonecall.jpg);
	background-repeat: no-repeat;
	background-size: cover;

}

#clair{
	background-image: url(music_large.png);
	background-repeat: no-repeat;
	background-size: cover;
}

/*#textleft{
	margin-left: 0px
	margin-top: 0px;
}
/*#imgleft{
	margin-left: 1em;
}*/

/*#imgcadre{
	border: 3px solid black;
}*/

#object1{
	color:white;
	background-image: url(image1.jpg);
	background-size: cover;
}

#title{
	color: black;
	font-size: 2em;
 max-width: 80%;
 padding-top: 5rem;
 margin-left: auto;
 margin-right: auto;
font-weight: 900;
 
line-height: 1.15;
 
margin-bottom: .9375em;
text-align: center;
}

#titlemilieu{
	float: left;
font-size: 2em;
  max-width: 80%;
  margin-left: 3em;
font-weight: 900;
 padding-top: 19rem;
line-height: 1.15;
 
margin-bottom: .9375em;
text-align: center;
color: white;	
}

.fas{
	size: 1000%;
	color: black;
}

#style{
	height:300px;
}

#carousel {
	margin-bottom: 30px;
}

